/* ddmenulevels */
.mattblackmenu li input {
    float: left;
    display: block;
    text-decoration: none;
    margin: 0;
    padding: 1px 8px; /*padding inside each tab*/
    margin: 4px 5px;
    border-right: 1px solid white; /*right divider between tabs*/
}

/* jquery-ui */
  .custom-combobox {
    position: relative;
  } 
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
  }

  .ui-background-bordered {
      border: 1px solid lightgrey;
      background: white;
  }

  .ui-menu .ui-menu-item {
      padding-top: 5px;
      padding-bottom: 5px;
  }

  .ui-state-focus {
      background: #66afe9;
  }

  /* bootstrap*/
  hr {
      margin-top: 10px;
      margin-bottom: 10px;
  }

  .row {
      margin-left: 0;
      margin-right: 0;
  }

  .bs-callout {
    padding: 0 10px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}