@model IMS.Models.ReportBlockIPViewModel
@{
    ViewBag.Title = Pages.ReportBlockIP;
    ViewBag.PageTitle = Pages.ReportBlockIP;
    ViewBag.Role = "Shift Head";
    ViewBag.Breadcrumbs = new List<BreadcrumbModel>
    {
        new BreadcrumbModel("Home", "Index", Pages.Home),
        new BreadcrumbModel("Report", "ReportBlockIP", Pages.ReportBlockIP)
    };
}

<section class="main-content">
    <div class="row hide">
        <div id="dropdown-template" class="col-xs-3">
            <label>Filter: @Html.DropDownListFor(model => model.TimeSelect, Model.TimeRange, "All Blocked IP", new { @class = "form-control input-sm", style = "width: 150px" }) </label>
        </div>
    </div>

    <table id="example1" class="table table-bordered table-hover">
        <thead>
            <tr class="@Constants.HtmlFormat.DATATABLE_HEADER_CLASS">
                <th>IP Address</th>
                <th>Blocked Time</th>
                <th>Blocked Reason</th>
                <th>Unblocked Time</th>
                <th>Blocked Time Range (day)</th>
                <th>Blocked To Now (day)</th>

            </tr>
        </thead>
        <tfoot>
            <tr class="@Constants.HtmlFormat.DATATABLE_HEADER_CLASS">
                <th>IP Address</th>
                <th>Blocked Time</th>
                <th>Blocked Reason</th>
                <th>Unblocked Time</th>
                <th>Blocked Time Range (day)</th>
                <th>Blocked To Now (day)</th>
            </tr>
        </tfoot>
    </table>
</section><!-- /.content -->

<script>
    $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {
            var timerange = $('#TimeSelect').val();
            if (timerange == '') {
                return true;
            }
            if (timerange == 'blocked') {
                if (data[4] == null || data[4] == '') {
                    return true;
                } else {
                    return false;
                }
            }
            if (data[4] == null || data[4] == '') {
                return false;
            }
            if (data[4] <= parseInt(timerange)) {
            
                    return true;
            }
            return false;
        }
       
    );
</script>

<script type="text/javascript">
    var table = $('#example1').DataTable({
        dom: '<lf<t>ip>',
        processing: true,
        ajax: "@Url.Action("GetAll", "Report", new {httproute = ""})",
        columns: [
            { data: "ChangedValueOfObject" },
            { data: "LogTime" },
            { data: "Description" },
            { data: "Unblocktime" },
            { data: "blockedtime" },
            { data: "blockedtimetonow" }

        ],
        iDisplayLength: 25,
        aLengthMenu: [[25, 50, 100], [25, 50, 100]],
        fnRowCallback: function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
            var actionCell1 = $(nRow.cells[3]);
            var actionCell2 = $(nRow.cells[5]);
            var actionCell = $(nRow.cells[4]);
            switch (aData.blockedtime) {
                case null:
                    $(nRow).css('background-color', '#ffe6e6');
                    actionCell.html('<label style="color: red">Still blocked</label>');
                    actionCell1.html('<label style="color: red">Still blocked</label>');
                    break;
                case 0:
                    actionCell.html('<1');
                    break;
            }
            switch (aData.blockedtimetonow) {
            case 0:
                actionCell2.html('<1');
                break;
            }
            if (aData.Unblocktime != null) {
                actionCell2.html('<label style="color: #337ab7">Unblocked</label>');
            }
        },
        order: [[1, "asc"]]

    });

    $("#example1_filter").append($('#dropdown-template').html());
    $('#dropdown-template').html('');

    $('#TimeSelect').change(function () {
        table.draw();
    });

</script>

@section Styles {
    <style>
    </style>
}