@model RequestReturnIPViewModel

<table class="table" id="SearchResults">
    <tr>
        <th>
            @Html.Raw("Server Code")
        </th>
        <th>
            @Html.Raw("IP")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.ServerIPs) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ServerCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentIP)
        </td>
    </tr>
}
</table>
