@using IMS.Data.Models
@model HomeIndexViewModel
@{
    ViewBag.Title = Pages.HomeIndex;
    ViewBag.PageTitle = Pages.HomeIndex;
    var obj = Session[Constants.Session.USER_LOGIN];
    Account a = (Account)obj;
    ViewBag.Role = a.Role;
    ViewBag.Breadcrumbs = new List<BreadcrumbModel>
    {
        new BreadcrumbModel("Home", "Index", Pages.Home)
    };
}

<div class="main-content">
    <h2>@Messages.Welcome</h2>
    @if (User.IsInRole(Constants.Role.CUSTOMER))
    {
        <a class="@Constants.HtmlFormat.PRIMARY_BUTTON_CLASS" href="@Url.Action("Create", "Request")"
           data-toggle="modal">
            <i class="fa fa-plus"></i> @Labels.CreateRequest
        </a>
    }
</div>

<!-- page script -->
