@{
    ViewBag.Title = "ServerPage";
    ViewBag.Role = "Shift Head";
}
<section class="content-header">
    <h1>
        List of Server
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index2", "Schedule")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Server</li>
    </ol>
</section>    
<section class="content">
        <div class="box">
            <div class="box-body table-responsive">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Server Code</th>
                            <th>Customer</th>
                            <th>Status</th>
                            <th>Default IP</th>
                            <th>Location</th>
                            <th>Current Request</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="@Url.Action("ServerDetails2", "Server")"> Trident</a></td>
                            <td>
                                Internet
                                Explorer 4.0
                            </td>
                            <td>Win 95+</td>
                            <td> 4</td>
                            <td>X</td>
                            <td class="sidebar-menu">

                                <ul><a href="#"><i class="fa fa-angle-double-right"></i> Upgrade server</a></ul>
                                <ul><a href="#"><i class="fa fa-angle-double-right"></i> ChangeIP</a></ul>
                               
                            </td>
                        </tr>
                        <tr>
                            <td><a href="#"> Trident</a></td>
                            <td>
                                Internet
                                Explorer 5.0
                            </td>
                            <td>Win 95+</td>
                            <td>5</td>
                            <td>C</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Trident</td>
                            <td>
                                Internet
                                Explorer 5.5
                            </td>
                            <td>Win 95+</td>
                            <td>5.5</td>
                            <td>A</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="#"> Trident</a></td>
                            <td>
                                Internet
                                Explorer 6
                            </td>
                            <td>Win 98+</td>
                            <td>6</td>
                            <td>A</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="#"> Trident</a></td>
                            <td>Internet Explorer 7</td>
                            <td>Win XP SP2+</td>
                            <td>7</td>
                            <td>A</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="#"> Trident</a></td>
                            <td>AOL browser (AOL desktop)</td>
                            <td>Win XP</td>
                            <td>6</td>
                            <td>A</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="#"> Gecko</a></td>
                            <td>Firefox 1.0</td>
                            <td>Win 98+ / OSX.2+</td>
                            <td>1.7</td>
                            <td>A</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="#"> Gecko</a></td>
                            <td>Firefox 1.5</td>
                            <td>Win 98+ / OSX.2+</td>
                            <td>1.8</td>
                            <td>A</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><a href="#"> Gecko</a></td>
                            <td>Firefox 2.0</td>
                            <td>Win 98+ / OSX.2+</td>
                            <td>1.8</td>
                            <td>A</td>
                            <td></td>
                        </tr>

                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Server Code</th>
                            <th>Customer</th>
                            <th>Status</th>
                            <th>Default IP</th>
                            <th>Location</th>
                            <th>Current Request</th>
                        </tr>
                    </tfoot>
                </table>
            </div><!-- /.box-body -->
</div><!-- /.box -->
</section>
<!-- SERVER DETAIL MODAL -->
<div class="modal fade" id="serverdetail-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-search"></i> Server Detail</h4>
            </div>
            <form action="#" method="post">
                <div class="modal-body">

                    <dl class="dl-horizontal">
                        <dt>
                            Server Code
                        </dt>
                        <dd>
                            GHJHKRN
                        </dd>

                        <dt>
                            Customer
                        </dt>

                        <dd>
                            Nguyễn Hùng Mạnh
                        </dd>

                        <dt>
                            Maker
                        </dt>

                        <dd>
                            SUPERMICRO
                        </dd>

                        <dt>
                            Model
                        </dt>

                        <dd>
                            X8 DTI
                        </dd>

                        <dt>
                            Power
                        </dt>

                        <dd>
                            750W
                        </dd>

                        <dt>
                            Size
                        </dt>

                        <dd>
                            2
                        </dd>

                        <dt>
                            Status
                        </dt>

                        <dd>
                            Running
                        </dd>

                        <dt>
                            Default IP
                        </dt>

                        <dd>
                            192.168.0.11
                        </dd>

                        <dt>
                            Location
                        </dt>

                        <dd>
                            L123456 U2
                        </dd>

                        <dt>
                            Registered Date
                        </dt>

                        <dd>
                            18-Jan-16 01:19:12
                        </dd>

                        <dt>
                            Outlet
                        </dt>

                        <dd>
                            2
                        </dd>
                        <dt>
                            Other Attributes
                        </dt>
                        <dd>
                            <ul class="list-group">

                                <li class="list-group-item">
                                    Storage : 750GB
                                </li>
                                <li class="list-group-item">
                                    Memory : 6GB
                                </li>

                            </ul>
                        </dd>
                        <dt>
                            Current IP Address
                        </dt>
                        <dd>
                            <ul class="list-group">

                                <li class="list-group-item">
                                    192.168.0.11
                                </li>
                                <li class="list-group-item">
                                    192.168.0.11
                                </li>

                            </ul>
                        </dd>

                    </dl>
                </div>
                <div class="modal-footer clearfix">

                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- page script -->
<script type="text/javascript">
            $(function() {
                $("#example1").dataTable();
 
            });
</script>