<!DOCTYPE html>
<html>
<head>
    <title>View</title>
    <meta charset="utf-8" />
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="Content/bootstrap.min.css">
    <!-- jQuery -->
    <script type="text/javascript" charset="utf-8" src="Scripts/jquery-1.10.2.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" charset="utf-8" src="Scripts/bootstrap.min.js"></script>
    <!--Bootstrap Toggle-->
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <h1 class="col-md-6 text-left page-header"><b>View Staff</b></h1>
            <h1 class="col-md-5 text-right page-header">
                <a class="btn btn-success" href="#" data-target="#addStaff" data-toggle="modal">Add Staff</a>
            </h1>
            <div class="table-responsive well">
                <table class="table table-hover table-condensed" id="tblListBooks">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Password</th>
                            <th>FullName</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Identification</th>
                            <th>Status</th>
                            <th>Role</th>
                            <th>isActive</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>Nam</td>
                            <td>*********</td>
                            <td>Cao Hong Nam</td>
                            <td>123454645645</td>
                            <td>abc@abc.abc</td>
                            <td>dsfgjhk5656565565 </td>
                            <td>dadsadasds</td>
                            <td>status</td>
                            <td>staff</td>
                            <td><input type="checkbox" checked data-toggle="toggle"></td>
                            <td class="text-center">
                                <a class="btn btn-primary" href="#" data-target="#updateStaff" data-toggle="modal">Update</a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                </table>
            </div>
        </div>
    </div>
    <!--Update Staff modal popup-->
    <div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" id="updateStaff">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">Staff Information</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-4 text-right">
                                <label class="control-label">Staff ID</label>
                            </div>
                            <div class="col-md-6 text-left">
                                <label class="control-label">S-0001</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 text-right">
                                <label class="control-label">Username</label>
                            </div>
                            <div class="col-md-6 text-left">
                                <input type="text" placeholder="Username" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 text-right">
                                <label class="control-label">Full Name</label>
                            </div>
                            <div class="col-md-6 text-left">
                                <input type="text" placeholder="Full Name" class="form-control">
                            </div>
                        </div><div class="form-group">
                            <div class="col-md-4 text-right">
                                <label class="control-label">Phone</label>
                            </div>
                            <div class="col-md-6 text-left">
                                <input type="text" placeholder="Phone" class="form-control">
                            </div>
                        </div><div class="form-group">
                            <div class="col-md-4 text-right">
                                <label class="control-label">Email</label>
                            </div>
                            <div class="col-md-6 text-left">
                                <input type="text" placeholder="Email" class="form-control">
                            </div>
                        </div><div class="form-group">
                            <div class="col-md-4 text-right">
                                <label class="control-label">Address</label>
                            </div>
                            <div class="col-md-6 text-left">
                                <input type="text" placeholder="Address" class="form-control">
                            </div>
                        </div><div class="form-group">
                            <div class="col-md-4 text-right">
                                <label class="control-label">Identification</label>
                            </div>
                            <div class="col-md-6 text-left">
                                <input type="text" placeholder="Identification" class="form-control">
                            </div>
                        </div><div class="form-group">
                            <div class="col-md-4 text-right">
                                <label class="control-label">Status</label>
                            </div>
                            <div class="col-md-6 text-left">
                                <div class="dropdown">
                                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                        Select
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">HTML</a></li>
                                        <li><a href="#">CSS</a></li>
                                        <li><a href="#">JavaScript</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><div class="form-group">
                            <div class="col-md-4 text-right">
                                <label class="control-label">Role</label>
                            </div>
                            <div class="col-md-6 text-left">
                                <label class="control-label">Staff</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Exit</button>
                    <button type="button" class="btn btn-success">Add</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!--Add New Staff modal popup-->
    <div class="modal fade" role="dialog" aria-labelledby="gridSystemModalLabel" id="addStaff">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="" enctype="multipart/form-data" method="POST">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="gridSystemModalLabel">Add new Staff</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-4 text-right">
                                    <label class="control-label">Username</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="text" placeholder="Username" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4 text-right">
                                    <label class="control-label">Password</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="password" placeholder="Password" class="form-control">
                                </div>
                            </div><div class="form-group">
                                <div class="col-md-4 text-right">
                                    <label class="control-label">Full Name</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="text" placeholder="Full Name" class="form-control">
                                </div>
                            </div><div class="form-group">
                                <div class="col-md-4 text-right">
                                    <label class="control-label">Phone</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="text" placeholder="Phone" class="form-control">
                                </div>
                            </div><div class="form-group">
                                <div class="col-md-4 text-right">
                                    <label class="control-label">Email</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="text" placeholder="Email" class="form-control">
                                </div>
                            </div><div class="form-group">
                                <div class="col-md-4 text-right">
                                    <label class="control-label">Address</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="text" placeholder="Address" class="form-control">
                                </div>
                            </div><div class="form-group">
                                <div class="col-md-4 text-right">
                                    <label class="control-label">Identification</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="text" placeholder="Identification" class="form-control">
                                </div>
                            </div><div class="form-group">
                                <div class="col-md-4 text-right">
                                    <label class="control-label">Status</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="text" placeholder="Status" class="form-control">
                                </div>
                            </div><div class="form-group">
                                <div class="col-md-4 text-right">
                                    <label class="control-label">Role</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <label class="control-label">Staff</label>
                                </div>
                            </div><div class="form-group">
                                <div class="col-md-4 text-right">
                                    <label class="control-label">IsActive</label>
                                </div>
                                <div class="col-md-6 text-left">
                                    <input type="checkbox" checked data-toggle="toggle">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Exit</button>
                        <button type="button" class="btn btn-success">Add</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</body>
</html>
