
@{
    ViewBag.Title = "AddServerInfo";
}
<section class="content-header">
    <h1>
        Add Server Information
    </h1>
</section>
<section class="content">
    <div class="box">
        <div class="box-body table-responsive">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Maker</label>
                    <div class="form-group col-sm-4">
                        <input type="text" class="form-control" placeholder="Maker"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Power</label>
                    <div class="form-group col-sm-2">
                        <input type="text" class="form-control" placeholder="Power"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Model</label>
                    <div class="form-group col-sm-4">
                        <input type="text" class="form-control" placeholder="Model"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Size</label>
                    <div class="form-group col-sm-1">
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>4</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Bandwidth</label>
                    <div class="form-group col-sm-2">
                        <input type="radio" name="bandwidth" value="100Mbps"/><label>100Mbps</label>
                        <input type="radio" name="bandwidth" value="1Gbps"/><label>1Gbps</label>
                    </div>
                </div>
                <div class="form-group">
                    <button class="col-sm-2 col-xs-offset-4 btn btn-default" id="addServer">
                        <label>Add Attributes</label>
                    </button>
                </div>
                <div id="test">

                </div>


                <div class="form-group">
                    <button class="col-sm-1 col-xs-offset-4 btn btn-default">
                        <a href="@Url.Action("RequestAddServer2", "Request")"><label>Add Server</label></a>
                    </button>
                </div>
            </form>

        </div><!-- /.box-body -->

    </div><!-- /.box -->
</section>
<div id="check"  style="display: none">
    <div class="form-group">

        <div for="" class="col-sm-4 control-label">

            <select>
                <option>Part number</option>
                <option>Memory</option>
                <option>Serial number</option>
                <option>Storage</option>
                <option>Hard drives</option>
            </select>

        </div>
        <div class="form-group col-sm-2">
            <input type="text" class="form-control" placeholder="Attribute" />
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#addServer").click(function () {
            $('#test').append($('#check').html());
            $('#test select').each(function (i, e) {
                $(e).attr('name', 'SelectedAttributes[' + i + ']');
                $(e).attr('id', 'SelectedAttributes_' + i + '_');
            });
            $('#test input').each(function (i, e) {
                $(e).attr('name', 'AttributeValues[' + i + ']');
                $(e).attr('id', 'AttributeValues_' + i + '_');
            });
            return false;
        });
    });
</script>


