@using IMS.Data.Repository
@model IMS.Data.Models.RequestType

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("Index", "Request", FormMethod.Get))
{
    <b>Search By:</b>
    //@Html.RadioButton("searchBy", "Customer", true)
    <br />
        <text>Request Type:</text>
        @Html.DropDownList("RequestTypes", "--Select--")
        
}
}