@using IMS.Data.Repository
@model IMS.Data.Models.RequestType

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @using (Html.BeginForm("Index", "Request", FormMethod.Get))
    {
        <b>Search By:</b>
        var requesttypes = RequestTypeDAO.Current.GetAll().ToList();
        var myList = new SelectList(requesttypes, "RequestTypeCode", "RequestTypeName");
        @Html.DropDownListFor(model => model.RequestTypeCode, myList, new { @class = "form-control", style = "width:200px" })
        <br />
        <input type="submit" value="Select request" class="btn btn-default" />
    }
</p>
