@model RequestRentRackViewModel

@{
    ViewBag.Title = "RequestRentRack";
}

<h2>RequestRentRack</h2>

@using (Html.BeginForm("RequestRentRack","Request",FormMethod.Get))
{
    @Html.AntiForgeryToken()
    <h3>Request return rack</h3>
    <text>Number of rack(s)</text>
    @Html.EditorFor(model => model.RackNumbers)
    <text>Appointment time</text>
    @Html.EditorFor(model => model.AppointmentTime)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Send Request" class="btn btn-default" />
        </div>
    </div>
}
