@model RequestReturnIPViewModel


@{
    ViewBag.Title = "RequestReturnIP";
}
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery.unobtrusive-ajax.js"></script>

<div>
    <h4>Request</h4>
    <hr/>
    @using (Ajax.BeginForm("FetchIPs", "Request",
        new AjaxOptions
        {
            HttpMethod = "Get",
            UpdateTargetId = "div1",
            InsertionMode = InsertionMode.Replace,
        }, new { id = "myForm" }))
    {

        @Html.DropDownListFor(m => m.SelectedServerCode, Model.Servers)
        <input type="submit" value="Show Details"/>
    }
</div>
<script type="text/javascript">
    //function IfSuccess(data) {
    //    $('#div1').html(data);
    //}

    //$(document).ready(function () {
    //    $("#myList").change(function () {
    //        //$('form#myForm').submit();
    //        this.form.submit();
    //    });
    //});
    function AdditionalsChanged() {
        $("#myForm").submit();
    }
</script>
<br />
@*@Html.Partial("_ListServerIP")*@
@*@if (Model.ServerIPs != null)
{
    @Html.Partial("_ListServerIP")
}*@
<div id="div1"></div>

