@model RequestBringServerAwayViewModel
@{
    ViewBag.Title = "RequestBringAwayServerInfo2";
    ViewBag.Role = "Shift Head";
}

<section class="content-header">
    <h1>
        Detail Request Bring Away Server
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index2", "Schedule")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Detail Request Bring Away Server</li>
    </ol>
</section>
<section class="content">
    <div class="box">
        <div class="box-body table-responsive">
            <form action="#">
                <dl class="dl-horizontal">
                    <dt>
                        From customer
                    </dt>
                    <dd>
                        Lê Văn Lương
                    </dd>
                    <dt>
                        Requested Time
                    </dt>

                    <dd>
                        18-Jan-16 01:19:12
                    </dd>
                    <dt>
                        Status
                    </dt>

                    <dd>
                        Waiting
                    </dd>

                    <dt>
                        Selected Server
                    </dt>

                    <dd>
                        S123456
                    </dd>
                    <dd>S456789</dd>
                    <dd>S456789</dd>
                    <div class="form-group">
                        <dt>
                            Description:
                        </dt>

                        <dd>
                            I want to be assigned as soon as possible
                        </dd>
                    </div>

                    <dt></dt>
                    <dd>
                        <button type="submit" class="btn btn-primary">Approve</button>
                        <button type="submit" class="btn btn-danger">Reject</button>
                    </dd>

                </dl>
            </form>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</section>

