@using AutoMapper.Internal
@using IMS.Data.Repository
@model RequestReturnRackViewModel

@{
    ViewBag.Title = "RequestReturnRack";
}

<h2>RequestReturnRack</h2>
<p>
    @using (Html.BeginForm("RequestReturnRack", "Request", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <h3>Request return rack</h3>
    <p>
        @for (var i = 0; i < Model.RackOfCustomer.Count; i++)
        {
            <div class="checkbox">
                @Html.HiddenFor(x => x.RackOfCustomer[i].Value)
                <label>
                    @Html.CheckBoxFor(x => x.RackOfCustomer[i].Selected)
                    @Html.DisplayFor(x => x.RackOfCustomer[i].Text)
                </label>
            </div>
        }
    </p>
    <br />
        <input class="green" type="submit" value="Send Request" />
    }


    </p>