
@{
    ViewBag.Title = "RequestBringAwayServer2";
    ViewBag.Role = "Customer";
}

<section class="content-header">
    <h1>
        Request Bring Away Server
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("RequestHistory2", "Request")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Request Bring Away Server</li>
    </ol>
</section>
<section class="content">
    <div class="box">
        <div class="box-body table-responsive">

            <form class="form-horizontal">

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-4 control-label">Which server do you want to bring away?</label>
                    <div class="col-sm-1">

                        <input type="checkbox" name="192.168.1.1" /><text>S232432</text>

                    </div>
                    <div class="col-sm-1">

                        <input type="checkbox" name="192.168.1.1" /><text>S134345</text>
                    </div>
                    <div class="col-sm-1">

                        <input type="checkbox" name="192.168.1.1" /><text>S455464</text>
                    </div>
                    <div class="col-sm-1">

                        <input type="checkbox" name="192.168.1.1" /><text>S235466</text>
                    </div>
                </div>


                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-4 control-label">Description</label>
                    <div class="col-sm-2">
                        <textarea style="width: 500px; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" class="form-control" placeholder="Some description here"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-2">
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </form>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</section>


