@using IMS.Data.Repository
@model RequestReturnRackViewModel

@{
    ViewBag.Title = "RequestReturnRack";
}

<h2>RequestReturnRack</h2>
<p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h3>Request return rack</h3>

        var racks = RackOfCustomerDAO.Current.EmptyRentedRack("manhnh");
        foreach (var item in Model.RackOfCustomer)
        {
            for (int i = 0; i < racks.Count; i++)
            {
                @Html.CheckBoxFor(model => model.RackOfCustomer[i].RackCode)
            }
        }

    }
</p>