@{
    ViewBag.Role = "Customer";
}
<script>
    $(document).ready(function () {
        $("#formAssign").hide();
        $("#isAssign").click(function () {
            $("#formAssign").show();
        });
    });
</script>
<section class="content-header">
    <h1>
        Request Add Server
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("RequestHistory2", "Request")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Request Add Server</li>
    </ol>
</section>
<section class="content">
    <div class="box">
        <div class="box-body table-responsive">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Appointment Time</label>
                    <div class="container">
                        <div class="row">
                            <div class='col-sm-6'>
                                <div class="form-group">
                                   
                                            <div class='input-group date' id='datetimepicker1'>
                                                <input type='text' class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
 
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                
                @{
                    if (Request.Url.ToString().Contains("act=Update"))
                    {
                        <div class="form-group">
                            <label for="" class="col-sm-4 control-label">Assign Name</label>
                            <div class="form-group col-sm-4">
                                <input type="text" class="form-control"/>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <button class="col-sm-2 col-xs-offset-4 btn btn-default" id="isAssign">
                                <label>Assign Different Person?</label>
                            </button>
                        </div>
                    }
                }

                <div class="form-group" id="formAssign">
                    <label for="" class="col-sm-4 control-label">Assign Name</label>
                    <div class="form-group col-sm-4">
                        <input type="text" class="form-control" placeholder="Assign Name"/>
                    </div>
                </div>
                @{
                    if (Request.Url.ToString().Contains("act=Update"))
                    {
                        <div class="form-group">
                            <button class="col-sm-2 col-xs-offset-4 btn btn-default">
                                <a href="@Url.Action("AddServerInfo", "Request")"><label>Add Server Information</label></a>
                            </button>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <button class="col-sm-2 col-xs-offset-4 btn btn-default">
                                <a href="@Url.Action("AddServerInfo", "Request")"><label>Add Server Information</label></a>
                            </button>
                        </div>
                    }
                }
                
                <div class="form-group" style="width: 1000px">
                    <table id="" class="table table-bordered table-striped  col-xs-offset-1">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Maker</th>
                            <th>Power</th>
                            <th>Model</th>
                            <th>Size</th>
                            <th>Bandwidth</th>
                            <th>Attribute(s)</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <a href="" data-toggle="modal" data-target="#editserver-modal">Edit</a>
                            </td>
                            <td>
                                <a href="#">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Description</label>
                    <div class="form-group col-sm-4">
                        <textarea style="width: 500px; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" class="form-control" placeholder="Some description here"></textarea>
                    </div>
                </div>
                @{
                    if (Request.Url.ToString().Contains("act=Update"))
                    {
                        <div class="form-group">

                            <button type="submit" class="btn btn-primary col-xs-offset-4">Update Request</button>
                            <button type="submit" class="btn btn-danger"><i class="fa fa-times">Cancel Request</i></button>
                        </div>
                    }
                    else if (Request.Url.ToString().Contains("act=Finish"))
                    {
                        
                    }else
                    {
                        <div class="form-group">

                            <button type="submit" class="btn btn-primary col-xs-offset-4">Send</button>

                        </div>
                    }
                }
               
            </form>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</section>
<!-- EDIT SERVER MODAL -->
<div class="modal fade" id="editserver-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 400px">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-edit"></i> Edit Server</h4>
            </div>
            <form action="#" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="" class="control-label">Maker</label>
                        <div class="form-group" style="width: 300px">
                            <input type="text" class="form-control" value="DELL" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Power</label>
                        <div class="form-group" style="width: 300px">
                            <input type="text" class="form-control" value="750GB" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Model</label>
                        <div class="form-group" style="width: 300px">
                            <input type="text" class="form-control" value="ABCD" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">Size</label>
                        <div class="form-group" style="width: 100px">
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Bandwidth</label>
                        <div class="form-group">
                            <input type="radio" name="bandwidth" value="100Mbps" checked="true" /><label>100Mbps</label>
                            <input type="radio" name="bandwidth" value="1Gbps" /><label>1Gbps</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="attribute1" class="control-label">Serial number</label>
                        <div class="form-group" style="width: 200px">
                            <input type="text" class="form-control" value="12345" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="attribute1" class="control-label">Memory</label>
                        <div class="form-group" style="width: 200px">
                            <input type="text" class="form-control" value="12345" />
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default" id="addServer">
                            <label>Add more Attributes</label>
                        </button>
                    </div>
                    <div id="test">

                    </div>


                </div>
                <div class="modal-footer clearfix">

                    <button type="submit" class="btn btn-primary">Save change</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>

                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="check" style="display: none">
    <div class="form-group">

        <div for="" class="control-label">
            <b>
                <select>
                    <option>Part number</option>
                    <option>Memory</option>
                    <option>Serial number</option>
                    <option>Storage</option>
                    <option>Hard drives</option>
                </select>
            </b>
        </div>
        <div class="form-group" style="width: 200px">
            <input type="text" class="form-control" placeholder="Value" />
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#addServer").click(function () {
            $('#test').append($('#check').html());
            $('#test select').each(function (i, e) {
                $(e).attr('name', 'SelectedAttributes[' + i + ']');
                $(e).attr('id', 'SelectedAttributes_' + i + '_');
            });
            $('#test input').each(function (i, e) {
                $(e).attr('name', 'AttributeValues[' + i + ']');
                $(e).attr('id', 'AttributeValues_' + i + '_');
            });
            return false;
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker(
       {
           "disabledHours": [0, 1, 2, 3, 4, 5, 6, 7, 21, 22, 23, 24],
           "enabledHours": [8, 9, 10, 12, 12, 14, 15, 16, 17, 18, 19, 20],
             "stepping": '30',
            "minDate": 'moment'
       });
    });
</script>
